<div id="app">
    <div class="map"
         v-on:mousedown="MapDown"
         v-on:mousemove="MapMove"
         v-on:mouseup="MapUp"
         v-bind:style="styleMap">

        <div class="row" v-if="showMapCells" v-for="(row, rowIndex) in rows">
            <div class="cell"
                 v-for="(cell, columnIndex) in row"
                 v-bind:style="styleCell"
                 v-bind:class="MapClass(rowIndex, columnIndex)"
                 v-on:click="HeroMove(rowIndex, columnIndex)"
                 v-on:mouseover="HeroHover(rowIndex, columnIndex)">
            </div>
        </div>

        <img class="entity"
             v-for="entity in entities"
             v-bind:style="EntityStyle(entity)"
             v-bind:src="entity.src" />

    </div>
    <div class="game-panel">
        <div class="person-portret">
            <svg class="portret-area">
                <clipPath id="healthClip">
                    <rect y="10" v-bind:x="health" width="160" height="160"></rect>
                </clipPath>
                <image class="portret" x="5" y="-155" height="150" width="150" xlink:href="image/per/avatar.png"> </image>
                <circle cx=" 80" cy=" 80" r=" 70" class="manna" v-bind:style="{'stroke-dashoffset': manna}">  </circle>
                <circle class="life" clip-path="url(#healthClip)" cx="80" cy="80" r="65"> </circle>
            </svg>
        </div>

        <div class="game-spell">
            <div v-for="spell in spells" class="spell">
                <img src="image/tools/move.png" />
            </div>
        </div>

        <div class="game-action">
            <div v-for="spell in action" class="spell">
                <img v-bind:src="spell.src"
                     v-on:click="InterfaceClick(spell.method)" />
            </div>
        </div>

        

    </div>
</div>
<script src="~/js/a-star.js" asp-append-version="true"></script>
<script src="~/js/speak.js" asp-append-version="true"></script>
<script src="~/js/microphone.js" asp-append-version="true"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/script.js" asp-append-version="true"></script>

